[submodule "lib/utest"]
	path = lib/utest
	url = https://github.com/jdonaldson/utest.git
[submodule "lib/setImmediate"]
	path = lib/setImmediate
	url = https://github.com/YuzuJS/setImmediate.git
[submodule "lib/asap"]
	path = lib/asap
	url = https://github.com/kriskowal/asap.git
